.onco20{
  max-width: 1400px;
  width: 100%;
  background-color: var(--color-light-pink);
  overflow-x: hidden;
}

  .mia-fixed-back{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    pointer-events: none;

    background-image: url(~assets/img/bg.jpg);
    background-position: 50% 50%;
    background-size: cover;
  }

  .mia-fixed-back-svg{
    position: fixed;
    top: 0;
    left: 0;
/*    transform: translate(-50%, 0);*/
    width: 100%;
    max-width: 1400px;
    min-width: 1400px;
    height: 100%;
    pointer-events: none;
  }

.logo{
  max-width:119px;
  width: 100%;
}
.logo2{
  max-width:209px;
  width: 100%;
}
  .mia-infographic{
    max-width: 1200px;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }


  .start{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    @media(--xs){
      display:none;
    }
    @media(--sm){
      display:none;
    }
    @media(--lg){
      display:block;
    }    
  }

  .sphere{
    position: absolute;
    top: 0;
    
    transform-origin: 50% 50%;
    

    @media(--xs){
      transform: scale(0.7) translate(50%, -75%);
      right: 20px;
    }
    @media(--sm){
      transform: scale(0.8) translate(50%, -65%);
      right: 60px;
    }
    @media(--lg){
      transform: translate(100%, -50%);
      right: 0;
    }


  }

  .sphere2{
    position: absolute;
    top: 50px;
    left: 50px;
    @media(--xs){
      transform: scale(0.7);
      top: 20px;
      left: 20px;
    }
  }

  .sphere3{
    position: absolute;
    top: 90%;
    right: 20%;
    transform: scale(0.7);
    @media(--xs){
      display:none;
    }
  }


  .folder{
    height: 100vh;
    min-height: 800px;
    max-height: initial;
    @media(--xs){
      height: 100vh;
      min-height: initial;
      max-height: 667px;
    }
    @media(--lg){
      height: 100vh;
      min-height: 800px;
      max-height: 800px;
    }
  }

    .lungs{
      width: 657px;
      height: 597px;

      background-image: url(~assets/img/lungs.png);
      background-position: 50% 50%;
      background-size: cover;

      position: absolute;
      top: 80px;
      right: -60px;
      transform-origin: 100% 0;

      @media(--xs){

        right: -15%;
        top: 60px;
        transform: scale(0.55);
      }

      @media (max-width: 374px) {

        right: -15%;
        top: 30px;
        transform: scale(0.45);
      }

      @media(--lg){
        font-size: 16px;
      }


    }

    .folder-h1{
      font-size: 6.25rem;
      line-height: 1.0;
      margin-bottom: 2rem !important;
      @media(--xs){
        background-color: rgba(255,255,255,0.0);
        margin-bottom: 3rem !important;
        margin-left: 1rem !important;
        margin-right: 0rem !important;
        font-size: 4.3rem;
      }
    }

    .folder-text1{
        margin-bottom: 6rem !important;
    }


    .folder-text{
        margin-bottom: 6rem !important;
        @media(--xs){
          text-align: left !important;
          margin-left: 0rem;
        }
        @media(--sm){
          text-align: left !important;
          margin-left: 1.5rem;
        }
        @media(--lg){
          text-align: center !important;
          margin-left: 0rem;
        }
        @media (max-width: 374px) {
          font-size: 16px !important;
        }
    }

    .folder-line{
      height: 1px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--color-violet);

      @media(--xs){
        width: 90%;
      }
      @media(--sm){
        width: 90%;
      }
      @media(--lg){
        width: 100%;
      }
    }



  .hor-line{
    position: absolute;
    height: 1px;
    min-height: 1px;
    width: 200%;
    margin-left: -100%;
    background-color: var(--color-violet);
  }


  .question-col{
    border-right: 1px solid var(--color-violet);
    @media(--xs){
      border: 0;
    }
  }

  .answer-col{
    /*border-top: 1px solid var(--color-pink);*/
    border-right: 1px solid var(--color-violet);
    @media(--xs){
      border: 0;
    }
  }

  .main-col{
    /*border-top: 1px solid var(--color-pink);*/
    @media(--xs){
      padding-top: 0 !important;
    }
    @media(--sm){
      padding-top: 0 !important;
      padding-right: 0 !important;
    }
    @media(--lg){
      padding-top: 2.5rem !important;
      padding-right: 2.5 !important;
    }


  }


  .icon[data-id="0"]{min-width:40px;}
  .icon[data-id="1"]{min-width:40px;}
  .icon[data-id="2"]{min-width:40px;}
  .icon[data-id="3"]{min-width:40px;}

  .bold-line{
    width: 100%;
    height: 5px;
    background-color: var(--color-pink);
  }

.illustration{
  width: 100%;
  @media(--xs){
    position: relative;
    width: 70% !important;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.fact{
/*  border-left: 5px solid var(--color-pink);*/
}


.fact-group{
  position: absolute;

  width: 5px;
  height: 100%;
  top: 0px;
  left: 0px;
}


.fact-line{
  position: absolute;
  background-color: var(--color-pink);
  width: 5px;
  height: 100%;
  top: 0px;
  left: 0px;
}

.fact-dot{
  position: absolute;
  background-color: var(--color-light-pink);
  width: 7px;
  height: 5px;
  bottom: 5px;
  left: -1px;
}

.value{
  border-bottom: 1px solid var(--color-pink);
  margin-bottom: 0.5rem !important;

  & span{
    font-size: 1.25rem;
    letter-spacing: 0;
  }
}

.quotes{


}
.quotes-top-line{
  position: absolute;
  top: 0;
  width: 100%;
  height: 5px;
  background-color: var(--color-pink);
  left: 0px;
}
.quotes-bottom-line{
  position: absolute;
  top: 100%;
  width: 100%;
  height: 5px;
  background-color: var(--color-pink);
  left: 0px;
}



.triangle{
  position: absolute;
  top: 100%;
  right: 0;
}
.triangle-line{
  width: 63px;
  height: 5px;
  background-color: var(--color-light-pink);
  position: absolute;
  top:100%;
  right:0;
}

.quote{
  font-size: 90px;
  top: 1.5rem;
  left: 2px;
}

.withsmall{
  & span{
    color: var(--color-black);
    font-size: 1.375rem;
  }
}

.withbig{
  & span{
    color: var(--color-pink);
    font-size: 1.875rem;
  }
}

.icon[data-id="4"],
.icon[data-id="5"],
.icon[data-id="6"]{
  min-width: 78px;
}