@import './components/app';

@font-face {
    font-family: 'ManropeLight';
    src: url('~assets/fonts/Manrope-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope';
    src: url('~assets/fonts/Manrope-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ManropeBold';
    src: url('~assets/fonts/Manrope-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.manrope-light {
  font-family: 'ManropeLight', Arial, sans-serif;
}
.manrope {
  font-family: 'Manrope', Arial, sans-serif;
}
.manrope-bold {
  font-family: 'ManropeBold', Arial, sans-serif;
}

:root {
  --color-light-pink: #EEEAF4;
  --color-pink: #F0597D;
  --color-violet: #866DAF;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --shadow: 0px 0px 8px 2px rgba(0,0,0,0.4);
}

.text-primary{
  color: var(--color-violet) !important;
}
.text-secondary{
  color: var(--color-white) !important;
}
.text-danger{
  color: var(--color-pink) !important;
}

.vertical-text{
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
}
.vertical-sm-text{
  @media(--lg){
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
  }
}

@custom-media --xs (max-width: 575px);
@custom-media --sm (min-width: 576px);
@custom-media --md (min-width: 768px);
@custom-media --lg (min-width: 992px);
@custom-media --xl (min-width: 1200px);

@custom-media --ie all and (-ms-high-contrast: none), (-ms-high-contrast: active);
@custom-media --nonretina not screen and (-webkit-min-device-pixel-ratio: 2),
not screen and (   min--moz-device-pixel-ratio: 2),
not screen and (     -o-min-device-pixel-ratio: 2/1),
not screen and (        min-device-pixel-ratio: 2),
not screen and (                min-resolution: 192dpi),
not screen and (                min-resolution: 2dppx);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

body, html{
  height: 100%;
  background-color: var(--color-white);
  color: #000000;
  font-family: 'Manrope', Arial, sans-serif;
  line-height: 1.4;
  
  @media(--xs){
    font-size: 11px;
  }
  @media(--sm){
    font-size: 12px;
  }
  @media(--md){
    font-size: 14px;
  }
  @media(--lg){
    font-size: 16px;
  }
}

.h1{
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 0;
}
.h3{
  font-size: 1.875rem;
  line-height: 1.4;
  margin-bottom: 0;
}
.h4{
  font-size: 1.375rem;
  line-height: 1.4;
  margin-bottom: 0;
}
.h6{
  line-height: 1.3;
  margin-bottom: 0;
}
.display-2{
  font-size: 5rem;
  line-height: 1.1;
  letter-spacing: -5px;
  margin-bottom: 0;
}
.display-2s{
  font-size: 4.2rem;
  line-height: 1.1;
  letter-spacing: -5px;
  margin-bottom: 0;
}

.p-45{
  padding: 2.5rem;
}
.pr-45{
  padding-right: 2.5rem;
}
.mb-45{
  margin-bottom: 2.5rem;
}
.ml-45{
  margin-left: 2.5rem;
}
.mr-45{
  margin-right: 2.5rem;
}
.mt-45{
  margin-top: 2.5rem;
}
.pt-xs-only-0{
  @media(--xs){
    padding-top: 0;
  }
  @media(--sm){
    padding-top: 0;
  }
  @media(--lg){
    padding-top: 2.5rem;;
  }
}
.mb-xs-only-0{
  @media(--xs){
    margin-bottom: 0;
  } 
}
.row{
  margin-left: 0;
  margin-right: 0;
}

.big-margin{

  @media(--xs){
    margin-bottom: 2.5rem;
  }
  @media(--sm){
    margin-bottom: 2.5rem;
  }
  @media(--lg){
    margin-bottom: 12.5rem;
  }
}

.no-top-border{
  border-top: 0;
}

